body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
}

h1 {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    letter-spacing: 5px;
}

#ui-overlay {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    background: white;
    padding: 15px;
    gap: 30px;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.weight-display {
    font-size: 1.1rem;
}

.angle-display {
    font-size: 1.1rem;
}

.simulation-area {
    position: relative;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seesaw-wrapper {
    position: relative;
    width: 400px;
    height: 20px;
    transition: transform 0.5s ease-out;
    transform-origin: center center;
    z-index: 2;
}

.plank {
    width: 100%;
    height: 100%;
    background-color: #999999;
    cursor: crosshair;
    position: relative;
}

.pivot {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid #666666;
    z-index: 1;
}

.dropped-object {
    position: absolute;
    bottom: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555555;
}

.history {
    margin-top: 20px;
    text-align: left;
}

.history h2 {
    margin-bottom: 10px;
}

.history ul {
    list-style-type: none;
    padding: 0;
    height: 160px;
    overflow-y: auto;
}

.history li {
    background: #e0e0e0;
    padding: 8px;
}
.history li:nth-child(odd) {
    background: #d0d0d0;
}
